@using IntelliTrackSolutionsWeb.Models.Expansion
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>@ViewData["Title"] - GameIntegratedSolution</title>

    <link rel="canonical" href="@ViewData[" Url_Domen"]"/>

    <meta property="og:url" content="@ViewData[" Url_Domen"]"/>
    <meta name="twitter:title" content="GameIntegratedSolution"/>
    <meta name="twitter:image" content="/img/webLogo/favicon.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="/img/webLogo/favicon.png"/>
    <meta name="description" content="GameIntegrated Solution: Инновационные решения для управления игровой информационной системой."/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="GameIntegrated Solution: Инновационные решения для управления игровой информационной системой."/>

    <link rel="icon" type="image/png" sizes="512x512" href="~/img/webLogo/favicon.png"/>
    <link rel="icon" type="image/png" sizes="512x512" href="~/img/webLogo/favicon.png"/>
    <link rel="icon" type="image/png" sizes="512x512" href="~/img/webLogo/favicon.png"/>
    <link rel="icon" type="image/png" sizes="512x512" href="~/img/webLogo/favicon.png"/>
    <link rel="icon" type="image/png" sizes="512x512" href="~/img/webLogo/favicon.png"/>
    <link rel="stylesheet" type="text/css" asp-href-include="~/css/**/*.css"/>
    <link rel="stylesheet" type="text/css" asp-href-include="~/lib/**/*.css"/>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"/>
</head>

<body class="body-game">
<header class="header-game">
    <nav class="nav-game navbar navbar-dark navbar-expand-lg portfolio-navbar mb-3">
        <div class="container-fluid">
            <img class="img-logo" src="~/img/webLogo/favicon.png" alt="Лого"/>
            <a class="navbar-brand nav-logo" asp-area="" asp-controller="Home" asp-action="Index">GameIntegratedSolution</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 ul-game">
                    <li class="nav-item li-game">
                        <a class="nav-link a-game" asp-area="" asp-controller="Users" asp-action="Create">Регистрация</a>
                    </li>

                    <li class="nav-item li-game">
                        <a class="nav-link a-game" asp-area="" asp-controller="Users" asp-action="Login">Вход</a>
                    </li>

                    <li class="nav-item li-game">
                        <a class="nav-link a-game" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                    </li>

                    @if (User.IsInIssuer())
                    {
                        <li class="nav-item li-game">
                            <a class="nav-link a-game" asp-area="" asp-controller="InformationSystem" asp-action="Monitoring">Система мониторинга</a>
                        </li>
                    }

                    <li class="nav-item li-game">
                        <a class="nav-link a-game" asp-area="" asp-controller="Home" asp-action="Privacy">Политика конфиденциальности</a>
                    </li>

                    @if (User.IsInIssuer())
                    {
                        <li class="nav-item li-game" style="margin-left: auto;">
                            <a class="nav-link a-game" asp-area="" asp-controller="Users" asp-action="Logout">Выход</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

@{ await Html.RenderPartialAsync("ModalWindow/ShowModalWindow", ViewData["ModalWindow"] != null ? (ModalWindow)ViewData["ModalWindow"]! : null); }

<main class="main-game">
    @(RenderBody())
</main>

<footer class="footer-game">
    <div>
        &copy; 2023 - GameIntagrated Solution - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: black">Privacy</a>
    </div>
</footer>

</body>

@(await RenderSectionAsync("Scripts", false))
<script asp-src-include="~/lib/**/*.js"></script>
<script asp-src-include="~/js/**/*.js"></script>
</html>